*CHGCAR
*WAVECAR
*PROCAR
*vasprun.xml
./WAVECAR
./noncollinear/PROCAR
./noncollinear/vasprun.xml
./noncollinear/WAVECAR
./ferro/vasprun.xml
./ferro/PROCAR
./noncollinear/CHGCAR
./noncollinear/vasprun.xml
./noncollinear/CHG
./noncollinear/PROCAR
./noncollinear/WAVECAR
./ferrob/constrained/vasprun.xml
./ferrob/constrained/PROCAR
./ferrob/constrained/WAVECAR
./ferrob/free/vasprun.xml
./ferrob/free/PROCAR
./ferrob/free/WAVECAR
./ferrob/constrainedFull/vasprun.xml
./ferrob/constrainedFull/PROCAR
./ferrob/constrainedFull/WAVECAR
